<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OOP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <OOP.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="DB" serializeAs="String">
                <value>oopdb</value>
            </setting>
            <setting name="User" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="Pass" serializeAs="String">
                <value>1234567</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>3306</value>
            </setting>
        </OOP.Properties.Settings>
    </userSettings>
</configuration>